.pagination > li > a, .pagination > li > span {
  color: #e72d45; }

.btn-infinity {
  color: #ffffff; }

.btn-infinity:hover, .btn-infinity:focus, .btn-infinity:active, .btn-infinity.active, .open > .dropdown-toggle.btn-infinity {
  background: #747474;
  color: #ffffff; }

.btn-infinity:active, .btn-infinity.active {
  background: #747474;
  color: #ffffff;
  box-shadow: none; }

.btn-infinityInv {
  background: #9e9e9e;
  color: #ffffff; }

.btn-infinityInv:hover, .btn-infinityInv:focus, .btn-infinityInv:active, .btn-infininfinityInvity.active, .open > .dropdown-toggle.btn-infinityInv {
  background: #F69221;
  color: #ffffff; }

.btn-infinityInv:active, .btn-infinityInv.active {
  background: #F69221;
  color: #ffffff;
  box-shadow: none; }

.pointer {
  cursor: pointer; }

.pagination > li > a {
  border-radius: 50% !important;
  margin: 0 5px;
  padding: 6px 12px;
  min-width: 34px;
  text-align: center;
  color: #ddd; }

.pagination > li > a:hover {
  background: linear-gradient(to right, #e72d45 0%, #f3931b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e72d45',endColorstr='#f3931b',GradientType=1 );
  color: #fff;
  border-color: transparent; }

.pagination > li.active > a,
.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  border: 1px solid transparent;
  background: linear-gradient(to right, #e72d45 0%, #f3931b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e72d45',endColorstr='#f3931b',GradientType=1 ); }

* {
  border-radius: 0 !important; }

.table .text-right {
  text-align: right; }

.table .text-left {
  text-align: left; }

.table .text-center {
  text-align: center; }

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

table.table {
  clear: both;
  margin-bottom: 6px !important;
  max-width: none !important; }

.ucs {
  text-transform: uppercase;
  font-size: 0.8em; }

.col-md-4.block-dtl-col {
  padding: 0 10px; }

.block-detailsbody {
  padding: 20px 80px; }

.block-detailsfooter {
  margin: 20px 80px;
  border-radius: 6px !important;
  padding: 30px 0 30px 30px;
  text-align: left; }
  .block-detailsfooter p {
    margin: 0; }

.ucsb {
  text-transform: uppercase;
  font-size: 0.90em;
  font-weight: bold;
  color: #000000; }

.modal-default {
  position: relative;
  background-color: #f1f2f3;
  border: none; }
  .modal-default .modal-close {
    border: none;
    position: absolute;
    top: -5px;
    color: #fff;
    right: -5px;
    border-radius: 50% !important;
    background-color: #d75a4a; }

.navbar-default {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f6f7f8;
  min-height: 50px;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #000; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #fff;
  color: #e72d45; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #fff; }

.navbar-fixed-bottom {
  background: #f6f7f8; }

.navbar-fixed-bottom small {
  color: #000 !important; }

.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #FFF; }

.panel {
  border: none;
  border-radius: 6px !important;
  padding: 15px 0; }

.ng-binding.ng-scope p {
  font-weight: 500;
  font-size: 14px; }

.panel-default > .panel-heading {
  background-color: #f6f7f8;
  border-color: #ddd;
  border-radius: 6px !important;
  color: #000; }

.modal-default > .modal-heading {
  background-color: #E7E7E7; }

body {
  padding: 80px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F4; }

.tooltip {
  z-index: 2000 !important; }

.footer-padding {
  height: 50px;
  width: 100%; }

.table td {
  text-align: center; }

.table th {
  text-align: center; }

#index-search {
  padding-top: 10px; }

.search-bar-div {
  min-width: 80%; }

#block-details-table {
  /*table-layout: fixed;*/
  /*word-wrap: break-word;*/ }

.modal-dialog {
  width: 90%; }

.borderless td, .borderless th {
  border: none; }

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%; }

.head-title {
  margin: 0; }

/* body */
body {
  padding: 110px 10px 0px;
  font: 14px 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

a:focus, a:hover {
  text-decoration: none; }

.block-explorer {
  padding: 8px; }
  .block-explorer .panel {
    border-bottom: 3px solid #e72d45;
    border-radius: 6px !important;
    padding: 15px 0; }
    .block-explorer .panel .panel-heading {
      border: 0; }

.explorer-link:hover {
  line-height: 0;
  background: none !important; }

/* header - nav-bar */
.navbar-default {
  font: 17px 'Montserrat', sans-serif;
  background: linear-gradient(to right, #e72d45 0%, #f3931b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e72d45',endColorstr='#f3931b',GradientType=1 ); }

.header-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0; }
  .header-wrapper .head-title {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.03cm; }

.btn-check {
  position: relative;
  font-weight: 600;
  z-index: 1;
  font-size: 10px;
  color: #e72d45;
  line-height: 16px;
  padding: 6px 12px;
  border-radius: 50px !important;
  min-width: 98px;
  background-size: 200% auto;
  background-image: linear-gradient(135deg, #e72d45 24%, #e73044 42%, #ed5d31 53%, #f28c1e 77%, #f3931b 100%); }
  .btn-check:after {
    position: absolute;
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: #fff;
    top: 1px;
    left: 1px;
    z-index: -1;
    border-radius: 50px;
    padding: 5px 10px; }
  .btn-check:hover {
    color: #fff; }
  .btn-check:hover:after {
    background: transparent; }

.navbar-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center; }

.navbar-inner {
  padding: 0;
  background: transparent; }

.navbar-default .navbar-nav > li {
  padding: 11px 0 15px 0;
  border-top: 4px solid transparent; }

.navbar-default .navbar-nav > li.active {
  border-top: 4px solid #fff; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600; }

.navbar-toggle {
  background-color: #ffffff; }

.navbar-collapse.in.collapse {
  margin-top: 15px; }

.btn-infinity {
  color: #e72d45;
  background: transparent;
  font-weight: 600; }
  .btn-infinity:hover {
    background: #2b2b2b; }

.search-and-type {
  text-align: center; }
  .search-and-type input {
    min-width: 250px; }
  .search-and-type .btn-infinity {
    background-color: transparent;
    font-weight: 600;
    font-size: 13px; }
    .search-and-type .btn-infinity:hover {
      background: #2b2b2b; }
  .search-and-type span {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    border-radius: 50px !important;
    min-width: 130px;
    text-align: center;
    /*border: 2px solid #fff;*/
    border: 2px solid #7f0000;
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    cursor: pointer;
    color: #fff; }

/* Label */
.label {
  padding: .4em .6em .3em; }

table.dataTable, table.dataTable.no-footer {
  border-top: 0px;
  border-radius: 6px; }

/* table headers */
table.dataTable thead th {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f2f3;
  text-transform: uppercase;
  border-color: #eff5f8;
  padding: 12px 0;
  border-top: 0px; }

.modal-titleText {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.015cm; }

table.dataTable tbody td {
  color: #9d9faf;
  padding: 12px 0;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  border-color: #eff5f8; }
  table.dataTable tbody td a {
    color: #9d9faf; }
  table.dataTable tbody td .label-default {
    background: transparent;
    color: #9d9faf;
    font-size: 14px;
    font-weight: 600; }

/* table */
.dataTables_wrapper {
  padding: 0; }

table.dataTable, table.dataTable.no-footer {
  margin: 0; }

/* panel headings */
.panel-default > .panel-heading {
  color: #474747;
  background-color: #fff;
  padding: 10px 15px 6px; }

.panel-body {
  border-top: none !important;
  padding: 0; }

.uib-accordion-header {
  font-weight: 500;
  font-size: 24px;
  color: #333333; }

/* footer */
.footer .navbar-brand {
  width: 100%;
  height: auto;
  padding: 15px 0; }

.footer .label {
  padding-left: 0;
  padding-right: 0; }
  .footer .label.label-xs {
    white-space: normal;
    font-size: 11px;
    font-weight: 600;
    color: #535353; }

.footer .footerTex {
  font-size: 16px !important;
  font-weight: 800 !important; }

/* modal */
.nav-tabs > li > a {
  color: #e72d45; }

.block-btns {
  padding: 40px 7px 0; }
  .block-btns button {
    margin-right: 25px;
    position: relative;
    border: none;
    font-weight: 600;
    z-index: 1;
    font-size: 14px;
    color: #e72d45;
    line-height: 16px;
    padding: 10px 15px;
    border-radius: 50px !important;
    min-width: 130px;
    background: #e72d45;
    background: linear-gradient(135deg, #e72d45 24%, #e73044 42%, #ed5d31 53%, #f28c1e 77%, #f3931b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d45', endColorstr='#f3931b',GradientType=1 ); }
    .block-btns button:after {
      position: absolute;
      content: '';
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: #fff;
      top: 2px;
      left: 2px;
      z-index: -1;
      border-radius: 50px;
      padding: 5px 10px; }

.block-dtl {
  background: #f1f2f3;
  border-radius: 5px !important;
  padding: 34px 20px;
  border-left: 3px solid #f3931b;
  margin: 10px 0; }
  .block-dtl .ucsb {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    padding: 2px 0; }
  .block-dtl h5, .block-dtl a {
    font-weight: 500;
    font-size: 13px;
    margin: 5px 0 0;
    color: #626363; }

@media (min-width: 768px) {
  .form-inline .input-group > .form-control {
    width: auto; } }

@media (max-width: 767px) {
  .navbar-form {
    margin-right: 0;
    margin-left: 0; } }

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-header {
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; } }

.actv-node {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.012cm;
  display: inline-block;
  margin: 0;
  text-transform: uppercase; }

.panel-title {
  width: 100%;
  font-size: 18px;
  color: #333333; }
  .panel-title a:hover {
    text-decoration: none; }

.top-node {
  margin: 0 0 10px; }

.box-heading, .top-node a {
  color: #333 !important;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.015cm; }

.active-node-header {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0; }
  .active-node-header .panel-heading {
    margin-bottom: 20px;
    padding: 20px 32px;
    letter-spacing: 0.015cm;
    color: #333333; }
  .active-node-header .panel-body table {
    border-top: none; }
  .active-node-header .panel-body table tbody tr td, .active-node-header .panel-body table thead tr th {
    vertical-align: middle;
    padding: 14px;
    border-color: #eff5f8;
    text-transform: uppercase; }
  .active-node-header .panel-body table thead tr th {
    font-size: 13px;
    padding: 18px 14px;
    font-weight: 800;
    border-color: #ececed !important; }
  .active-node-header .panel-collapse {
    padding: 32px;
    background-color: #fff;
    border-radius: 6px !important; }
  .active-node-header .panel-body table tbody tr td, .active-node-header .panel-body table tbody tr td a.pointer {
    font-size: 12px;
    background-color: #fff;
    font-family: Montserrat;
    font-weight: 600;
    color: #9d9faf; }
  .active-node-header .panel-body table tbody tr td span {
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    color: #9d9faf;
    display: inline-block;
    background-color: transparent; }
  .active-node-header .panel-body table tbody tr td a {
    font-weight: 600;
    color: #9d9faf;
    background-color: transparent;
    font-family: Montserrat;
    font-weight: 600; }
  .active-node-header .panel-body table tbody tr td p {
    margin: 0; }
  .active-node-header span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .active-node-header .reload-btn {
    font-weight: 600;
    z-index: 1;
    font-size: 14px;
    color: #e72d45;
    line-height: 16px;
    padding: 10px 15px;
    border-radius: 50px !important;
    min-width: 130px;
    background: #e72d45;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e72d45 24%, #e73044 42%, #ed5d31 53%, #f28c1e 77%, #f3931b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d45', endColorstr='#f3931b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .active-node-header .reload-btn:after {
      position: absolute;
      content: '';
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background: #fff;
      top: 1px;
      left: 1px;
      z-index: -1;
      border-radius: 50px;
      padding: 5px 10px; }

.panel-open .panel-heading {
  background-color: #303745; }
  .panel-open .panel-heading .panel-title {
    color: #fff; }

.nvtooltip {
  border-radius: 50px !important;
  min-width: 90px;
  color: #FFF;
  position: relative;
  border: none;
  text-align: center;
  background: #e72d45;
  background: linear-gradient(135deg, #e72d45 24%, #e73044 42%, #ed5d31 53%, #f28c1e 77%, #f3931b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e72d45', endColorstr='#f3931b',GradientType=1 ); }

.label-success {
  color: #5cb85c !important; }

.label-warning {
  color: #f0ad4e !important; }

.legend-color-guide {
  visibility: hidden; }

.flag-icon {
  width: 20px;
  height: 20px;
  display: block;
  background-size: cover;
  border-radius: 20px !important;
  margin: 0 auto; }

.nvtooltip:after {
  content: '';
  width: 0;
  position: absolute;
  left: 15px;
  bottom: -5px;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #e72d45; }

.discreteBar {
  fill: #ecb571; }

.footer {
  color: #474747;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px !important;
  margin: 15px;
  padding: 15px; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?97a800");
  src: url("../fonts/icomoon.eot?97a800#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?97a800") format("truetype"), url("../fonts/icomoon.woff?97a800") format("woff"), url("../fonts/icomoon.svg?97a800#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-check2:before {
  content: "\e917";
  color: #6ac259;
  font-size: 20px; }

.icon-minus-button:before {
  content: "\e928";
  color: #fff;
  font-size: 20px; }

.icon-plus-button:before {
  content: "\e929";
  color: #c0c1c1;
  font-size: 20px; }

.icon-check .path1:before {
  content: "\e926";
  color: white; }

.icon-check .path2:before {
  content: "\e927";
  margin-left: -1.01171875em;
  color: black; }

.icon-Accounts:before {
  content: "\e900"; }

.icon-Base-Algo:before {
  content: "\e901"; }

.icon-Block_Time:before {
  content: "\e902"; }

.icon-Blockexplorer:before {
  content: "\e903"; }

.icon-Check-Balance:before {
  content: "\e904"; }

.icon-Data_encrypted:before {
  content: "\e905";
  color: #fff; }

.icon-Efficient:before {
  content: "\e906";
  color: #fff; }

.icon-email .path1:before {
  content: "\e907";
  color: #f3931b; }

.icon-email .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: white; }

.icon-email .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: white; }

.icon-facebook .path1:before {
  content: "\e90a";
  color: #3b5998; }

.icon-facebook .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: white; }

.icon-Help_center:before {
  content: "\e90c";
  color: #fff; }

.icon-Latest_Version:before {
  content: "\e90d"; }

.icon-Left_arrow:before {
  content: "\e90e";
  color: #f6a128; }

.icon-login:before {
  content: "\e90f";
  color: #e72d45; }

.icon-Nodes:before {
  content: "\e910"; }

.icon-Open_API:before {
  content: "\e911";
  color: #ed6930; }

.icon-Peerexplorer:before {
  content: "\e912"; }

.icon-Personal_data_free:before {
  content: "\e913";
  color: #fff; }

.icon-QR-codes:before {
  content: "\e914";
  color: #fff; }

.icon-Reload:before {
  content: "\e915"; }

.icon-Right_arrow:before {
  content: "\e916";
  color: #f6a128; }

.icon-Service-Monitor:before {
  content: "\e918"; }

.icon-Smart_integration:before {
  content: "\e919";
  color: #fff; }

.icon-SSL_API:before {
  content: "\e91a"; }

.icon-Supply_Circulating:before {
  content: "\e91b"; }

.icon-Syncing:before {
  content: "\e91c"; }

.icon-Top_Node:before {
  content: "\e91d"; }

.icon-Total_Nodes:before {
  content: "\e91e"; }

.icon-Transactions:before {
  content: "\e91f"; }

.icon-website .path1:before {
  content: "\e920";
  color: #48a0e4; }

.icon-website .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: white; }

.icon-youtube .path1:before {
  content: "\e922";
  color: #d42428; }

.icon-youtube .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: #cc202d; }

.icon-youtube .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: #ba202e; }

.icon-youtube .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: white; }
