window.envConfig = {
    RELEASE_VERSION: '${RELEASE_VERSION}',
    
    NETWORK_ENVIRONMENT: '${NETWORK_ENVIRONMENT}',

	AUTO_PAGE_REFRESH_INTERVAL: 30000,
	
	PEER_ENDPOINTS_1: '${IEP_SERVICEMONITOR_UI_PEER_ENDPOINTS_1}',
	PEER_ENDPOINTS_2: '${IEP_SERVICEMONITOR_UI_PEER_ENDPOINTS_2}',
	PEER_ENDPOINTS_3: '${IEP_SERVICEMONITOR_UI_PEER_ENDPOINTS_3}',
	
	MACAP_ENDPOINT: '${IEP_SERVICEMONITOR_UI_MACAP_ENDPOINT}',
	
	APP_ENDPOINTS_PEER: '${IEP_SERVICEMONITOR_UI_APP_ENDPOINTS_PEER}',
	APP_ENDPOINTS_BLOCK: '${IEP_SERVICEMONITOR_UI_APP_ENDPOINTS_BLOCK}',
	APP_ENDPOINTS_WALLET_1: '${IEP_SERVICEMONITOR_UI_APP_ENDPOINTS_WALLET_1}',
	APP_ENDPOINTS_WALLET_2: '${IEP_SERVICEMONITOR_UI_APP_ENDPOINTS_WALLET_2}',
	APP_ENDPOINTS_WALLET_3: '${IEP_SERVICEMONITOR_UI_APP_ENDPOINTS_WALLET_3}',
	
	TESTNET_ENDPOINTS_PEER: '${IEP_SERVICEMONITOR_UI_TESTNET_ENDPOINTS_PEER}',
	TESTNET_ENDPOINTS_BLOCK: '${IEP_SERVICEMONITOR_UI_TESTNET_ENDPOINTS_BLOCK}',
	TESTNET_ENDPOINTS_WALLET: '${IEP_SERVICEMONITOR_UI_TESTNET_ENDPOINTS_WALLET}',
	
	WEBSITE_ENDPOINTS: '${IEP_SERVICEMONITOR_UI_WEBSITE_ENDPOINTS}',
	WIKI_ENDPOINTS: '${IEP_SERVICEMONITOR_UI_WIKI_ENDPOINTS}',
}

window.getEnvConfig = function(key) {
	var envConfig = window['envConfig'];
	if (envConfig[key]) {
		if (typeof envConfig[key] !== 'string' && envConfig[key].length === 0) {
			return null;
		} else if (typeof envConfig[key] === 'string' && envConfig[key] === '') {
			return null;
		} else {
			return envConfig[key];
		}
	}
	return null;
}
